# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Build output
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
*.env
backend/.env

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
backend/.venv/
venv/
env/
*.egg-info/

# Deep Learning Models
*.pth
*.pth.tar
*.pt
*.onnx
*.h5
*.safetensors
backend/model_assests/**/*.pth
backend/model_assests/**/*.pt
backend/model_assests/**/*.pth.tar

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# Supabase
supabase/.temp/
