fastapi==0.115.12
uvicorn[standard]==0.34.2
python-multipart==0.0.20
google-genai==1.16.0
Pillow==11.2.1
python-dotenv==1.1.0
requests==2.31.0
openai>=1.0.0
geopy
google-api-python-client
google-auth
groq
grpcio
huggingface-hub
httpx
Jinja2
monai
nibabel
numpy
opencv-python-headless
pydantic
pydicom
torch
torchvision
tqdm
PyPDF2
timm
